//common colors

$white: #ffffff;
$orange: #ffae00;
$dark-grey: #222222;
$grey: #424242;
$grey-light: #eeeeee;
$grey-lightest: #e0e0e0;


//common fonts

$font-size-s: 12px;
$font-size-m: 14px;
$font-size-l: 16px;
$font-size-xl: 20px;
$font-size-xxl: 25px;

//font-weights
$font-weight-normal: 200;
$font-weight-medium: 400;

//breakpoints
$breakpoints-middle: 768px;
